* {
    font-family: Helvetica, sans-serif;
}

.wrapper {
    padding: 20px;
    background-color: #FDFBF5;
}

/* INPUT STYLES */

.input-label {
    color: #59586A;
    font-size: 18px;
    padding-bottom: 10px;
    display: block;
    max-width: 492px;
    width: 100%;
}

.input {
    box-sizing: border-box;
    caret-color: #59586A;
    background: rgba(44, 43, 60, 0.08);
    border: solid 1px rgb(44, 43, 60, 0.2);
    border-radius: 6px;
    color: #59586A;
    font-size: 16px;
    font-weight: 500;
    padding: 14px 20px;
    max-width: 492px;
    width: 100%;
    transition: border 0.2s, box-shadow 0.2s;
}

.input:hover {
    border: solid 1px #1A73E8;
}

.input:focus, .input:focus-visible {
    outline: none;
    border: solid 1px #1A73E8;
    box-shadow: 0 0 0 2px rgba(39, 94, 254, .3);
}

.input:invalid {
    border: solid 1px rgb(232, 26, 26);
}

.input:invalid:focus {
    box-shadow: 0 0 0 2px rgba(232, 39, 39, 0.3);
}

/* ICON INPUT STYLES */

#test-img-input {
    background: rgba(44, 43, 60, 0.08) url(assets/search_icon.svg) no-repeat scroll 10px 10px;
    padding-left:42px;
}

.input::-webkit-search-cancel-button {
    cursor: pointer;
    position: relative;
    right: -14px;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background: url(assets/close_icon.svg);
    background-repeat:no-repeat;
    background-position: center center;
    transition: background-color 0.2s;
}

.input::-webkit-search-cancel-button:hover {
    background-color: rgba(44, 43, 60, 0.08);
}